*{
    
    color: white;
    --accent: rgba(232, 102, 236, 0.6)
}
body {
    background-color: rgb(59, 56, 60);
}
    main {
    display: flex;
    flex-wrap: wrap;
}

section {
    border: 2px dashed grey;
    padding: 10px;
    margin: 15px;
}

h2 {
    color: var(--accent);
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
}

p {
    color: var(--accent);
}

article {
        background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
        );
        }
code {
    background-color: none;
}
